<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tabela com Borda Azul</title>
    <style>
        table {
            border: 2px solid blue;
            border-collapse: collapse;
        }

        th, td {
            border: none;
        }
    </style>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Numero</th>
                <th>Produto</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Teclado Mecanico</td>
            </tr>
        </tbody>
    </table>
</body>
</html>